.header {
    position: fixed;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    width: 100vw;
    z-index: 200;
    background: hsla(var(--bg-color-alpha), 0);
    backdrop-filter: blur(0px);
    box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0);
    justify-content: space-between;
    border-radius: 0px 0px 20px 20px;
    transition: background-color .25s ease-out, backdrop-filter .25s ease-out, box-shadow .25s ease-out;
}

.header.scrolled {
    background: hsla(var(--bg-color-alpha), .8);
    box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.08);
    backdrop-filter: blur(4px);
}

.header .logo {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 999px;
}

.header ul {
    display: flex;
    gap: 16px;
}

.settingsbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.settingsbtn > button {
    height: 36px;
    width: 36px;
    padding: 0;
    transition: background-color .15s ease-out;
}

.settingsbtn > button:hover, .settingsbtn > button:focus-visible {
    background: var(--light-hover);
}

.settingswrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, .05);
    z-index: 400;
}

.settings {
    background: var(--bg-color);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    box-shadow: 0px 0px 14px hsla(0, 0%, 0%, 0.08);
    transition: background-color .25s ease-out;
    z-index: 500;
    padding: 24px;
}

.settings h3 {
    margin: 0;
}

.settings .heading {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.settings .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 16px;
}

.settings .wrapper > div {
    display: flex;
    gap: 20px;
}

.settings .wrapper .regularbtn {
    border-radius: 12px;
}

.settings .wrapper .regularbtn.selected {
    border: 2px solid var(--primary);
}

.settings .wrapper .regularbtn button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    padding: 6px 10px;
    font-weight: 500;
    border-radius: 12px;
    transition: background-color .25s ease-out;
    background: hsla(var(--color-alpha), .1);
}

.settings .wrapper h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    user-select: none;
    letter-spacing: 1px;
    color: hsla(var(--color-alpha), .7);
    transition: color .25s ease-out;
}

.settings .localewrapper {
    position: relative;
    height: 40px;
    width: 140px;
    border-radius: 12px;
}

.settings .localewrapper .localelist {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 140px;
    background: var(--container);
    border-radius: 12px;
    box-shadow: 0 5px 12px hsla(0, 0%, 0%, .1);
    top: 0;
    overflow: hidden;
    transition: background-color .25s ease-out;
}

.settings .localewrapper .listwrapper {
    width: 100%;
}

.settings .localewrapper button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    height: 32px;
    width: 100%;
    padding: 0px 12px;
    transition: background-color .25s ease-out;
}

.settings .localewrapper button > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.settings .localewrapper button svg {
    padding-top: 1px;
}

.settings .localewrapper button:hover, .settings .localewrapper button:focus-visible {
    background: var(--light-hover);
    outline: none;
}


@media screen and (max-width: 600px) {
    .settings {
        width: 100vw;
    }
    .header ul {
        display: none;
    }
}